{% extends 'base.html' %}

{% block title %}
Создание поста
{% endblock %}
{% block content %}
<P>Новый пост</P>
<form action="{% url 'posts:create_post' %}" method="post">
  {% csrf_token %}

  {% for field in form %}
  <div class="form-group">
    {% if fields.errors %}
    <div class="alert alert-danger">
      {{ fields.errors }}
    </div>
    {% endif %}
    {{ field.label }}
    {{ field }}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}