{% extends 'base.html' %}


{% block title %}
  {% if not post %}
    Редактировать пост
  {% else %}
    Создать запись
  {% endif %}
{% endblock %}

{% block content %}
{% load user_filters%}
  {% if not post %} 
    Новый пост
  {% else %}
    Редактировать пост
  {% endif %}

{% comment %} <form action="{% url 'posts:create_post' %}" method="post"> {% endcomment %}
<form method="post" action={% if post %}"{% url 'posts:post_edit' post_id=post.pk %}"{% else %}"{% url 'posts:create_post' %}"{% endif %}>

  {% csrf_token %}

  {% for field in form %}
  <div class="form-group">
    {% if fields.errors %}
    <div class="alert alert-danger">
      {{ fields.errors }}
    </div>
    {% endif %}

    {{ field.label }}
    {{ field|addclass:"form-control" }}
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">
  {% if post %}
   Сохранить 
  {% else %} 
   Добавить 
  {% endif %}
  </button>
</form>
{% endblock %}