{% extends 'base.html' %}

{% block title %}
Пост {{ post.text|truncatewords:30}}
{% endblock %}

{% block header %}
Пост {{ post.text}}
{% endblock %}

{% block content %}
<ul>
  <li>
    Дата публикации: {{ post.pub_date|date:"d E Y" }}
  </li>
  <li>
    Группа: {{ post.group }}
  </li>
  <li>
    {% if post.group  %}
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% else %}
    {% endif %}
  </li>
  <li>
    Автор: {{ post.author.get_full_name }}
  </li>
  <li>
    Всего постов автора: {{ count }}
  </li>
  <li>
    <a href="{% url 'posts:profile' post.author.username %}">
      все посты пользователя
    </a>
  </li>
</ul>
<p>{{ post.text}}</p>
{% endblock %}